@model IEnumerable<EZApartment.Models.Work>
@{
    ViewBag.Title = "Home Page";


}

<div class="jumbotron">
    <h3>EZApartment</h3>
    <p class="lead">Dedicated for tracking apartment tasks in easy manner.</p>

</div>

<div class="row">
    <div class="col-md-6">

        <table class="table table-striped">

            <tr>
                <th scope="col">Task</th>
                <th scope="col">Done By</th>
                <th></th>
            </tr>
            <tr>
                <td>@Html.DropDownList("apttasknames", ViewBag.apttasknames as SelectList, "--Task Done--", new { @class = "form-control" })</td>
                <td>@Html.DropDownList("aptusernames", ViewBag.aptusernames as SelectList, "--Select your name--", new { @class = "form-control" })</td>
                <td><button type="button" class="btn btn-success submit">Submit</button></td>
            </tr>
        </table>
    </div>
    <div class="col-md-6">
        <div class="row">
            <table class="table table-striped">

                <tr>
                    <th scope="col">Task</th>
                    <th scope="col">Person</th>
                    <th scope="col">Frequency</th>

                </tr>

                @{
                    int sn = 1;

                    foreach (var item in Model)
                    {

                        <tr>
                            <td>@Html.DisplayFor(x => item.Task_Name)</td>
                            <td>@Html.DisplayFor(x => item.User_Name)</td>
                            <td>@Html.DisplayFor(x => item.Frequency)</td>

                        </tr>
                        sn = sn + 1;

                    }
                }

            </table>

        </div>

    </div>
    </div>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script>
        $(document).ready(function () {

            $(".submit").click(function () {

                var taskid = $('#apttasknames').val();
                var userid = $('#aptusernames').val();

                console.log(taskid, userid);

                var WorkJson = { TaskId: taskid, Userid: userid }

                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset-utf-8",
                    data: "{WorkJson:" + JSON.stringify(WorkJson) + "}",   // ajax call to populate order table and orderdetail table on click of add to order button
                    url: "/Home/PostWork",
                    success: function () {
                        window.location.reload();
                    }
                })
            });
        });
    </script>
